registry=https://pkgs.dev.azure.com/Tietoevry-Care/71e78b30-6039-4549-bd68-a1ba27b72c85/_packaging/spine-package-feed/npm/registry/ 
@better:registry=https://npm.better.care/repository/npm-group/
email=Kari-Antti.Kuosa@tieto.com
always-auth=true